<ul class="nav bs-sidenav">
          
          <li><a href="#getting-started">Getting Started</a>
            <ul class="nav">
              <li><a href="#in-the-browser">In the Browser</a></li>
              <li><a href="#using-jquery">Using JQuery</a></li>
            </ul>
          </li>
          <li>
            <a href="#agency">Agency</a>
            <ul class="nav">
              <li><a href="#agency-output">Attributes</a></li>
              <li><a href="#agency-find">/:id</a></li>
              <li><a href="#agency-id">/find</a></li>
            </ul>
          </li>
          <li>
            <a href="#routes">Routes</a>
            <ul class="nav">
              <li><a href="#routes-parameters">Parameters</a></li>
              <li><a href="#routes-output">Output</a></li>
            </ul>
          </li>
          <li>
            <a href="#stops">Stops</a>
            <ul class="nav">
              <li><a href="#stops-parameters">Parameters</a></li>
              <li><a href="#stops-output">Output</a></li>
            </ul>
          </li>
          <li>
            <a href="#docs-overview">About</a>
            <ul class="nav">
              <li><a href="#docs-introduction">Overview</a></li>
              <li><a href="#docs-data-sources">Data Sources</a></li>
            </ul>
          </li>
        </ul>